includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - routes
  level: 6
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#generic class Illuminate\\Database\\Eloquent\\(Builder|Relations\\HasMany|Relations\\BelongsTo)#'
    -
      identifier: missingType.iterableValue
